body { font-family: sans-serif; margin: 50px; }
h1 { margin-bottom: 5px; }
p { margin-bottom: 20px; }

#searchBox, select { margin-bottom: 20px; padding: 4px 6px; font-size: 1em; }

/* 名前部分 */
.name {
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  padding-left: 6px;
  border-left: 4px solid #ccc;
  margin-bottom: 2px;
}

/* タイプ部分 */
.types {
  font-size: 0.9em;
  color: #666;
  margin-left: 6px;
}

/* コピー可能部分 */
.copyable {
  cursor: pointer;
  font-weight: bold;
  color: black;
}
.copyable:hover {
  background-color: #f0f0f0;
  text-decoration: none;
}

/* プルダウン部分 */
.defaultOption {
  color: #888; /* 文字色は黒 */
}

#typeFilter1, #typeFilter2, #typeFilter3 {
  font-size: 0.9em;
  padding: 2px 4px;
  margin-right: 6px;
}

/* info は名前とタイプのコンテナ */
.info { margin-bottom: 5px; padding-top: 2px; padding-bottom: 2px; }
.item { padding: 6px 0; border-bottom: 1px solid #ccc; }
